body {
	background-color: #b7cae8;
	padding-left:100px;
	padding-right:100px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align:center;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color:#2D4B57;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	color:#2D4B57;
	text-align:center;
}

ol {
	font-style:italic;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

#PlayList {
	text-align:center;
}